/////////////////////////////////////////
///            UCLA
/////////////////////////////////////////

// Primary UCLA Colours

$ucla-blue: #3399cc;
$ucla-blue-safe: #347bad;
$ucla-gold: #ffe800;

// Secondary UCLA Colours

$ucla-blue-dark: #0055a6;
$ucla-blue-light: #00a5e5;

// Tertiary UCLA Colours

$ucla-yellow: #ffff00;
$ucla-green: #00ff87;
$ucla-pink: #ff00a5;
$ucla-cyan: #00ffff;
$ucla-purple: #8237ff;
$ucla-grey: #666;
$ucla-orange: #ffb300;

// Semantic Colours

$ucla-neutral: #ccc;
$ucla-white: #fefefe;
$ucla-black: #000;
$ucla-anchor-hover: #1e4b87;
$ucla-body-font-color: #333;

// UCLA ITS Colors
$ucla-its-body-font-color: #555;
$ucla-its-success-color: #67b94a;
$ucla-its-warning-color: #c9810f;
$ucla-its-danger-color: #c73a31;
$ucla-its-link-color: #0f72a7;
$ucla-its-link-color-hover: #1e4b87;
$ucla-its-primary-button-color: #3678af;
$ucla-its-primary-button-color-hover: #193747;

// Fonts

$ucla-font-stack: 'Proxima Nova', ProximaNova, Verdana, sans-serif;
$ucla-font-stack-alt: 'Proxima Nova', ProximaNova, Verdana, sans-serif;
$ucla-global-letter-spacing: 0.5px;

/////////////////////////////////////////
///            UCSF
/////////////////////////////////////////
