
/////////////////////////////////////////
///            ERRORS
/////////////////////////////////////////

%error-base {
  color: $alert-color;
	h2, h3, p {
		color: $alert-color;
	}
	p {
		font-size: $small-font-size;
	}
	padding: $global-spacing / 2;
	border-radius: $global-radius;
	text-align: center;
	margin-top: 0;
}

.error-box, .error-box-solid {
	background: $alert-color;
	@extend %error-base;
}

.error-box-lite {
  @extend %error-base;
  text-align: left;
  padding-left: 0;
}

.error-title {
  color: $alert-color;
}
