/////////////////////////////////////////
//   FOUNDATION OVERRIDES / ADDITIONS
/////////////////////////////////////////

// display like it's a header
legend {
  font-size: rem-calc(map-deep-get($header-styles, small, h1, font-size));
  @include breakpoint(multi-column) {
    font-size: rem-calc(map-deep-get($header-styles, large-type, h1, font-size));
}
  margin-bottom: $global-margin;
  display: block;
  width: 100%;
  font-weight: normal;
  color: $primary-color-safe;
}

input, select {
  font-weight: $global-weight-normal;
  @include breakpoint(multi-column) {
    max-width: 30rem;
  }
}

button[disabled] {
  @include button-disabled;
}

// no CSS output for Foundation buttons component
// outlined hollow style for options / secondary actions
button, .button {
  @include button();
  width: 100%;
  font-size: .875rem;
  text-decoration: none;
  @include breakpoint(multi-column) {
    width: auto;
  }
  color: $ucla-its-primary-alt;
  border: 1px solid $ucla-its-primary-button-color;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  &:hover {
    color: $white;
    background: $ucla-its-primary-button-color-hover;
  }
 }

// solid blue, primary action that saves change, etc
.primary-button {
  background-color: $ucla-its-primary-button-color;
  color: $white;
  border: none;
  &:hover {
    background-color: $ucla-its-primary-button-color-hover;
    color: $white;
  }
}

// alert styled button that cancels/clears changes
.cancel-button {
  background-color: $white;
  color: $alert-color;
  border: 1px solid $alert-color;
  &:hover {
    background-color: $alert-color;
    color: $white;
  }
}
