/////////////////////////////////////////
///        NOTIFICATION BADGE
/////////////////////////////////////////

//container
.notification-badged {
  position: relative;
}

//element w/ badge
.notification-badge:after{
  content:attr(data-count);
  position: absolute;
  background: $ucla-pink;
  height: $global-spacing * 2;
  top: -$global-spacing / 2;
  right: -$global-spacing;
  width: $global-spacing * 2;
  text-align: center;
  line-height: $global-spacing * 2;
  font-size: $global-spacing;
  border-radius: 50%;
  color: $white;
  border: 1px solid $ucla-pink;
}

/////////////////////////////////////////
///        ICON CONTAINER BADGE
/////////////////////////////////////////

@mixin badge($background: $warning-color, $color: $warning-color-dark, $base-size: ($global-spacing * 2.5)) {
  position: absolute;
  bottom: -$global-spacing * 4.5;
  right: $global-spacing * 2;
  width: $base-size * 2.5;
  height: $base-size * 2;
  background: $background;
  @include breakpoint($grid-liquid) {
    top: -$global-spacing * 3;
    right: -$global-spacing * 2;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -($base-size / 2);
    width: 0;
    height: 0;
    border-top: $base-size solid transparent;
    border-right: ($base-size / 2) solid $background;
    border-bottom: $base-size solid transparent;
  }
  &:after {
    content: "";
    position: absolute;
    right: -($base-size / 2);
    width: 0;
    height: 0;
    border-top: $base-size solid transparent;
    border-left: ($base-size / 2) solid $background;
    border-bottom: $base-size solid transparent;
  }
  i {
    font-size: $base-size * 1.7;
    color: $color;
    line-height: $base-size / 2;
    padding-left: $base-size / 10.5;
  }
}
