/////////////////////////////////////////
///        TOP OF PAGE BANNER
/////////////////////////////////////////

%location-banner-base {
  height: $global-spacing * 2;
  line-height: $global-spacing * 2;
  width: 100%;
  color: $black;
  text-align: center;
  @include box-shadow($ucla-grey 1px 1px 5px);
}

.location-banner-dev {
  @extend %location-banner-base;
  background: $ucla-yellow;
  border-bottom: 1px solid darken($ucla-yellow, 20%);
}

.location-banner-qa {
  @extend %location-banner-base;
  background: $ucla-orange;
  border-bottom: 1px solid darken($ucla-orange, 20%);
}

/////////////////////////////////////////
///             MESSAGES
/////////////////////////////////////////

.breaking-news {
  h1 {
    color: $ucla-blue-dark;
    text-shadow: 1px 1px 0px $white;
    font-style: italic;
  }
  position: relative;
  background: $ucla-yellow;
	box-shadow: 0 1px 1px #347bad;
	border-radius: $global-border-radius;
	padding: 0 7.5% 2.5% ;
	@include breakpoint($multi-column) {
		padding: 0 $global-spacing;
	}
	margin-bottom: $global-spacing * 3;
}

.message-fail {
  background: repeating-linear-gradient(45deg, $warning-color-dark, $warning-color-dark ($global-spacing / 2), $warning-color-dark-alt ($global-spacing / 2), $warning-color-dark-alt $global-spacing);
  color: $warning-color;
  a {
    color: $warning-color;
  }
  border-radius: $global-border-radius;
  padding: $global-spacing / 2;
  font-weight: 400;
}

.message-success {
  background: $ucla-grey;
  color: $success-color;
  a {
    color: $success-color;
  }
  border-radius: $global-border-radius;
  padding: $global-spacing / 2;
  font-weight: 400;
}

/////////////////////////////////////////
///            ERRORS
/////////////////////////////////////////

%error-base {
  color: $warning-color;
	h2, h3, p {
		color: $warning-color;
	}
	p {
		font-size: $helptext-font-size;
	}
	padding: $global-spacing / 2;
	border-radius: $global-border-radius;
	text-align: center;
	margin-top: 0;
}

.error-box {
	background: repeating-linear-gradient(45deg, $warning-color-dark, $warning-color-dark ($global-spacing / 2), $warning-color-dark-alt ($global-spacing / 2), $warning-color-dark-alt $global-spacing);
	@extend %error-base;
}

.error-box-solid {
	background: $warning-color-dark;
	@extend %error-base;
}

.error-box-lite {
  @extend %error-base;
  text-align: left;
  padding-left: 0;
}

.error-title {
  color: $warning-color;
}
