/////////////////////////////////////////
///             MESSAGES
/////////////////////////////////////////

.breaking-news {
  h1 {
    color: $ucla-blue-dark;
    text-shadow: 1px 1px 0px $white;
    font-style: italic;
  }
  position: relative;
  background: $ucla-yellow;
	border-radius: $global-radius;
	padding: 0 7.5% 2.5% ;
	@include breakpoint(multi-column) {
		padding: 0 $global-spacing;
	}
	margin-bottom: $global-spacing * 3;
}

.alert-info {
  position: relative;
  i {
    background: $ucla-blue;
    border-radius: 50%;
    font-weight: $global-weight-bold;
    color: white;
    font-size: 22px;
    /* font-weight: bold; */
    display: inline-block;
    padding-right: .8rem;
    position: absolute;
    top: .75rem;
    left: 2.25rem;
  }
  p {
    border-left: 5px solid $ucla-blue;
    background: $off-white;
    padding: $global-padding / 2;
    padding-left: $global-padding * 4;
    font-size: $small-font-size;
    margin-bottom: 0;
  }
}
