// https://afarkas.github.io/webshim/demos/demos/forms.html#UI-ival
// options in .js
// using default webshim classes for clarity

.ws-errorbox {
  margin-top: -$global-spacing;
  margin-bottom: $global-spacing;
  p {
    font-family: $font-stack;
    color: $warning-color;
    font-size: $helptext-font-size;
    text-align: left;
  }
}

// override polyfilled date input

input.ws-date {
  width: 100% !important;
}

.date-input-buttons {
  margin-bottom: $p-font-size;
}

.placeholder-text {
  color: $neutral;
}
